.task {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.task-text {
  margin-left: 10px;
  flex-grow: 1;
}

.completed .task-text {
  text-decoration: line-through;
  color: gray;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.task-list-container {
  margin: auto;
  width: 50%;
}
